html, body{
    margin: 0;
    background-color: #F5F5F5;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

#header{
    position: absolute;
    width: 100%;
    height: 10%;
    font-size: 38px;
    color: #9a2dde;
    margin: 0;
    line-height: 9%;
    text-align: center;
    background-color: white;
}

#mainTable{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
}

th {
    border-color: black;
    border-spacing: 5px;
    
}

.board{
    height: 8%;
}

#liberal{
    width: 37%;
    background-color: #4d62ff;
    color: white;
    font-family: 'Eagle-Lake', cursive;
    font-size: 30px;
}

#chat{
    width: 26%;
    background-color: #9a2dde;
    color: white;
    font-size: 25px;
}

#conservative{
    width: 37%;
    background-color: #d12020;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
}

#libContent{
    position: fixed;
    height: 100%;
    width: 34.5%;
    overflow-y: auto;
    text-align: left;
    padding-top: 0px;
    padding-left: 20px;
}

#conContent{
    position: fixed;
    height: 100%;
    width: 34%;
    overflow-y: auto;
    text-align: right;
    padding-top: 0px;
    padding-left: 20px;
}

#chatBox{
    height: 100%;
    background-color: white;
}

#nameInput{
    width: 70%;
    transition: width 1s;
    margin-top: 10px;
    height: 20%;
    border: 0;
    color: #000000;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

#nameInput:hover {
    width: 75%;
}

#signIn{
    display: block;
    background-color: #EED3FF;
    height: 20%;
    width: 25.9%;
    margin: auto;
    position: absolute;
    bottom: 0;
}

#sendMessage{
    display: none;
    background-color: #EED3FF;
    height: 8%;
    width: 25.9%;
    margin: auto;
    position: absolute;
    bottom: 0;
}

#messageInput{
    width: 75%;
    height: 60%;
    border: 0;
    margin: 10px 52px 10px 0px;
    color: #BB4BFF;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -10px;
}

#rangeInput{
    width: 76%;
}

#submitInput{
    margin-top: 11px;
    cursor: pointer;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    border-radius: 5px;
    background-color: #E0AFFF;
    border: none;
    transition: padding-left 1s, padding-right 1s;
}

#submitInput:hover{
    background-color: #e2b6ff;
    padding-right: 25px;
    padding-left: 25px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
    background: -webkit-linear-gradient(left, #88dcfc 0%,#e6beff 51%,#ffa4a4 100%);
    background: linear-gradient(to right, #88dcfc 0%,#e6beff 51%,#ffa4a4 100%);
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#messages{
    text-align: left;
/*
    overflow: auto;
    max-height: 600px;
*/
}

.message .name{
    padding-left: 15px;
    margin-top: 0;
    padding-top: 15px;
    margin-bottom: -15px;
}

.message .content{
    padding-left: 15px;
    margin-bottom: 0px;
}

#messageButton{
    padding: 9px 12px 9px 12px;
    font-size: 15px;
    border-radius: 10px;
    border: 0;
    background-color: #E0AFFF;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

#libContent .title{
    font-size: 22px;
    color: #4d62ff;
    margin-bottom: 3px;
}

#libContent .author{
    font-size: 16px;
    color: #0000aa;
    margin-bottom: -14px;
}

#libContent .summary{
    font-size: 18px;
}

#conContent .title{
    font-size: 22px;
    color: #d12020;
    margin-bottom: 3px;
}

#conContent .author{
    font-size: 16px;
    color: #aa0000;
    margin-bottom: -14px;
}

#conContent .summary{
    font-size: 18px;
}